<ion-header>
  <ion-toolbar>
    <ion-title>historique</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="dataAvalaible">
  <h1 style="font-family: Arista;text-align: center;">Historique</h1>
  <ion-grid>
    <ion-row>
      <ion-col size="10">
        <ion-input name="datePicker" placeholder="Filtrer par point de vente" [(ngModel)]="searchBar"></ion-input>
      </ion-col>
      <ion-col size="2">
        <ion-icon (click)="openModal(searchBar)" name="search"></ion-icon>
      </ion-col>
    </ion-row>
  </ion-grid>
<!--   <ion-item>
    <ion-label position="floating">Filtrer par mois de collecte</ion-label>
      <ion-input name="datePicker" [(ngModel)]="dateName" (click)="showDatepicker()"></ion-input>
  </ion-item> -->
  <ion-item>
    <ion-label position="floating">Filtrer par mois de collecte</ion-label>
    <ion-datetime 
      displayFormat="MMM YYYY"
      name="date"
      min="2019"
      [(ngModel)]="date"
      (ionChange)="searchCollect()"
      monthShortNames="Janv, Fevr, Mars, Avril, Mai, Juin, Juill, Août, Sept, Oct, Nov, Dec"
      cancel-text= "Annuler"
      done-text= "Valider"
      ></ion-datetime>
  </ion-item>
  <div  *ngIf="filter">
    <ion-button  expand="full" color="danger" (click)="deleteFilter()">Effacer les filtres</ion-button>
    <ion-item *ngIf="dataPdv !== undefined && dataPdv !== '' && dataPdv !== null">
      <h2 style="font-weight: bold;">Point de Vente:</h2>
      <ion-label class="ion-text-center">
        <h2>{{dataPdv.db7_store_name}}</h2>
        <h4>{{dataPdv.db7_full_address}}</h4>
        <p>{{dataPdv.db7_zip}} {{dataPdv.db7_city}}</p>
      </ion-label>
    </ion-item>

  </div>
<div>
  <ion-item-group *ngIf="dataHistorique.length !== 0">
    <ion-item *ngFor="let data of dataHistorique" [routerLink]="['/collectdetail/', data.db5_id]">
      <ion-label>
        <h2>{{data.db5_timestamp_completion}}</h2>
        <h2 style="font-weight: bold;">{{data.db3_campaign_name}}</h2>
        <h3>{{data.retailer_name}}</h3>
        <h4>{{data.address}}</h4>
        <p>{{data.zip}} {{data.city}}</p>
      </ion-label>
    </ion-item>
  </ion-item-group>
  <ion-item-group *ngIf="dataHistorique.length === 0">
    <h2 class="ion-text-center">Pas de collectes</h2>
  </ion-item-group>
</div>
</ion-content>
<ion-content  *ngIf="!dataAvalaible">
  <ion-spinner style="margin: 0 auto; display: block;" name="circles"></ion-spinner>
</ion-content>
