<ion-header>
  <ion-toolbar>
    <ion-title>Carte</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>
  <div id="mapId2" style="width: 100%; height: 100%" (ionchange)="addMarker($event)">
  </div>
</ion-content>
<div >
  <div fullscreen *ngFor="let pdv of pdvList">
    <ion-card style="position: relative; overflow: hidden;">
      <ion-card-header>
        <ion-card-subtitle>{{pdv.db7_full_address}}</ion-card-subtitle>
        <ion-card-title>{{pdv.db7_store_name}}, {{pdv.db3_campaign_name}}</ion-card-title>
      </ion-card-header>
      <ion-card-content>
      {{pdv.db3_campaign_short_desc}}
      distance: {{pdv.distance}}
      </ion-card-content>
    </ion-card>
  </div>
</div>