<ion-header>
  <ion-toolbar>
    <ion-title>WinMinute</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <img [src]="img">
<h2 style="width: 50%;text-align: center;margin: 2% auto;" class="ion-text-center">Une erreur est survenue lors de la récupération de vos données de géolocalisation</h2>
  <h3>Vous pouvez retrouver les offres proches de vous en utilisant la carte</h3>
<ion-button color="danger" type="submit" [routerLink]="['/cartedefault']" expand="block">Je veux me rendre sur la carte</ion-button>
<form [formGroup]="formCode" (ngSubmit)="setZipCode()">
  <h3>Vous pouvez aussi saisir votre code Postal</h3>
  <ion-item class="text-input" [ngClass]="{'has-error': (formCode.controls.zipCode.errors &&
  formCode.controls.zipCode.dirty),
  'has-success': !formCode.controls.zipCode.errors}">
    <ion-label style="font-family: 'Arista';" position="floating">Code postal </ion-label>
    <ion-input type="text" name="zip" formControlName="zipCode" ></ion-input>
  </ion-item>
  <ul class="help-block">
    <li *ngIf="formCode.controls.zipCode.errors?.pattern && formCode.controls.zipCode.dirty" >
        Caractere Numerique</li>
    <li *ngIf="formCode.controls.zipCode.errors?.minlength && formCode.controls.zipCode.dirty || formCode.controls.zipCode.errors?.maxlength && formCode.controls.zipCode.dirty " >Votre Code Postal doit contenir 5 nombres</li>
</ul>
<ion-button color="danger" type="submit" expand="block" [disabled]="formCode.invalid">Valider</ion-button>
</form>

</ion-content>
