<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Questionnaire</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="dataAvalaible">
 <div>
  <img [src]="img">
  <h2 class="ion-text-center">{{questionData.db26_description_courte}}</h2>
 </div>
</ion-content>
<ion-content  *ngIf="!dataAvalaible">
  <ion-spinner style="margin: 0 auto; display: block;" name="circles"></ion-spinner>
</ion-content>
