<ion-header>
  <ion-toolbar>
    <ion-title>Offre</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <section>
    <ion-button color="danger" [routerLink]="['/historique']">Historique</ion-button>
    <ion-button color="light" [routerLink]="['/mon-profil']">Mon Profil</ion-button>
  </section>
</ion-content>
