<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Réinitialiser votre mot de passe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <h1 style="font-family: Arista;text-align: center;">Vous avez oublié votre mot de passe?</h1>
  <form [formGroup]="resetForm" (ngSubmit)="resetPass()">
    <ion-item class="text-input" [ngClass]="{'has-error': (resetForm.controls.email.errors &&
    resetForm.controls.email.dirty) || (resetForm.controls.email.errors?.email && resetForm.controls.email.dirty),
    'has-success': resetForm.controls.email.valid && resetForm.controls.email.dirty }">
      <ion-label style="font-family: 'Arista';" position="floating">Email</ion-label>
      <ion-input type="email" name="email" formControlName="email" autocomplete=off required autofocus></ion-input>
    </ion-item>
    <ul class="help-block">
      <li  *ngIf="resetForm.controls.email.errors?.required && resetForm.controls.email.dirty" >Veuillez insérer un email</li>
      <li  *ngIf="resetForm.controls.email.errors?.email && resetForm.controls.email.dirty" >Veuillez insérer un mail valide</li>
  </ul>
  <ion-button  type="submit" expand="block" [disabled]="resetForm.invalid">Envoyer</ion-button>
  </form>
</ion-content>
