

a{
    text-decoration: none;
    
    span {
        text-align: center;
        font-family: 'Arista';
        cursor: pointer;
        color: #D01C1F;
        margin: 0 auto;
        display: block;
    }
}
img {
    width: auto;
    display: block;
    margin: 0 auto;
    height: auto;
}