<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
    </ion-buttons>
    <ion-title style="text-align: center;">Authentification</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content>
  <h1 style="font-family: Arista;text-align: center;">Vous avez déjà un compte</h1>
  <img [src]="img">
  <form [formGroup]="formLogin" (ngSubmit)="logForm()">
    <ion-item class="text-input" [ngClass]="{'has-error': (formLogin.controls.email.errors &&
    formLogin.controls.email.dirty) || (formLogin.controls.email.errors?.email && formLogin.controls.email.dirty),
    'has-success': formLogin.controls.email.valid && formLogin.controls.email.dirty }">
      <ion-label style="font-family: 'Arista';" position="floating">Email *</ion-label>
      <ion-input type="email" name="email" formControlName="email" autocomplete=off required autofocus></ion-input>
    </ion-item>
    <ul class="help-block">
      <li  *ngIf="formLogin.controls.email.errors?.required && formLogin.controls.email.dirty" >Veuillez insérer un email</li>
      <li  *ngIf="formLogin.controls.email.errors?.email && formLogin.controls.email.dirty" >Veuillez insérer un mail valide</li>
  </ul>
    <ion-item class="text-input" [ngClass]="{'has-error': formLogin.controls.pw.errors &&
    formLogin.controls.pw.dirty,
    'has-success': formLogin.controls.pw.valid && formLogin.controls.pw.dirty }">
      <ion-label style="font-family: 'Arista';" position="floating">Mot de passe *</ion-label>
      <ion-input type="password" name="password" formControlName="pw" autocomplete=off  required autofocus></ion-input>
    </ion-item>
    <ul class="help-block">
      <li  *ngIf="formLogin.controls.pw.errors?.required && formLogin.controls.pw.dirty" >* Champ obligatoire</li>
  </ul>
    <ion-button color="primary"  type="submit" expand="block" [disabled]="formLogin.invalid">Connexion</ion-button>
    <a [routerLink]="['/resetpw']" routerLinkActive="router-link-active"><span>Mot de passe oublié ?</span></a>
  </form>
  
  </ion-content>