<ion-header>
  <ion-toolbar>
    <ion-title>Carte</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="true"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
<ion-content>

  <div id="mapId" style="width: 100%; height: 100%">
  </div>
</ion-content>
