<ion-header>
  <ion-toolbar>
    <ion-title>Réglage</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-list>

  </ion-list>
  <ion-list>
    
    <ion-radio-group>
      <ion-list-header>
        <ion-label class="title-label">Divers</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Mode Sombre</ion-label>
        <ion-toggle slot="start" name="modeSombre"></ion-toggle>
      </ion-item>
    </ion-radio-group>
    <ion-radio-group>
      <ion-list-header>
        <ion-label class="title-label">Permissions</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Géolocalisation</ion-label>
        <ion-toggle slot="start" name="geolocalisation" [(ngModel)]="gpsValue" [checked]="gpsValue" (ionChange)="changeGPS($event)"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Fichiers</ion-label>
        <ion-toggle slot="start" name="fichiers" [(ngModel)]="fileValue" [checked]="fileValue" (ionChange)="changefile($event)"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Appareil Photos</ion-label>
        <ion-toggle slot="start" name="camera" [(ngModel)]="cameraValue" [checked]="cameraValue" (ionChange)="changeCamera($event)"></ion-toggle>
      </ion-item>
      <ion-item>
        <ion-label>Photos</ion-label>
        <ion-toggle slot="start" name="gallery"></ion-toggle>
      </ion-item>
    </ion-radio-group>
    <ion-radio-group>
      <ion-list-header>
        <ion-label class="title-label">Compte et données</ion-label>
      </ion-list-header>
      <ion-item>
        <ion-label>Désactiver mon compte et conserver mes données pour plus tard</ion-label>
        <ion-radio slot="start" ></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Désactiver mon compte et supprimer mes données personnelles</ion-label>
        <ion-radio slot="start" (ionchange)="deleteAccount()"></ion-radio>
      </ion-item>
      <ion-item>
        <ion-label>Récupération de mes données personnelles</ion-label>
        <ion-radio slot="start" ></ion-radio>
      </ion-item>
    </ion-radio-group>
    <ion-button  type="submit" expand="block" (click)="logout()">Déconnexion</ion-button>
    
  </ion-list>
</ion-content>
