
<ion-header>
  <ion-toolbar>
    <ion-title>Mon Profil</ion-title>
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-spinner style="margin: 0 auto;" name="circles" *ngIf="!dataAvalaible"></ion-spinner>
<ion-content *ngIf="dataAvalaible">
  <ion-item class="head"> 
    <ion-icon name="contact"></ion-icon>  
    <span class="text">Identite</span>
  </ion-item>
<form>
    <ion-list>
      <ion-radio-group>
        <ion-list-header>
          <ion-label class="title-label">Genre</ion-label>
        </ion-list-header>
        <ion-item *ngFor="let s of sexes; index as i">
          <ion-label>{{s.type}}</ion-label>
          <ion-radio slot="start" value="biff" (click)="setSexe(s, i)" [checked]="s.checked"></ion-radio>
        </ion-item>
      </ion-radio-group>
    </ion-list>
  <ion-item class="text-input">
    <ion-label style="font-family: 'Arista';" position="floating">Prénom</ion-label>
    <ion-input type="text" name="Prenom" [(ngModel)]="prenom"  ></ion-input>
  </ion-item>
  <ion-item class="text-input">
    <ion-label style="font-family: 'Arista';" position="floating">Nom*</ion-label>
    <ion-input type="text" name="nom" [(ngModel)]="nom"  ></ion-input>
  </ion-item>
  <ion-item class="text-input">
    <ion-label style="font-family: 'Arista';" position="floating">Date de Naissance*</ion-label>
    <ion-datetime displayFormat="MM/DD/YYYY" name="dateNaiss" [(ngModel)]="dateNaiss"></ion-datetime>
  </ion-item>
  <ion-item>
    <ion-label>Catégorie socio-professionnelle</ion-label>
    <ion-select name= "cps" [(ngModel)]="cspname" ok-text="Valider" [compareWith]="compareById" cancel-text="Annuler">
      <ion-select-option *ngFor="let a of csp" [value]= "a.value" >{{ a.nom }}</ion-select-option>
    </ion-select>
  </ion-item>
</form>
  <div>
    <ion-item class="head"> 
      <ion-icon name="home"></ion-icon>  
      <span class="text">Adresse*</span>
    </ion-item>
    <form [formGroup]="formAdresse">
      <ion-item class="text-input" [ngClass]="{'has-error': (formAdresse.controls.adresse.errors &&
      formAdresse.controls.adresse.dirty),
      'has-success': !formAdresse.controls.adresse.errors}">
        <ion-label style="font-family: 'Arista';" position="floating">Adresse </ion-label>
        <ion-input type="text" name="adress" [value]="adresse" formControlName="adresse"></ion-input>
      </ion-item>
      <ul class="help-block">
        <li *ngIf="formAdresse.controls.adresse.errors?.required && formAdresse.controls.adresse.dirty" >
            Champs Obligatoire</li>
    </ul>
    <ion-item class="text-input" [ngClass]="{'has-error': (formAdresse.controls.zipCode.errors &&
    formAdresse.controls.zipCode.dirty),
    'has-success': !formAdresse.controls.zipCode.errors}">
      <ion-label style="font-family: 'Arista';" position="floating">Code postal </ion-label>
      <ion-input type="text" name="zip" [value]="zip" formControlName="zipCode" ></ion-input>
    </ion-item>
    <ul class="help-block">
      <li *ngIf="formAdresse.controls.zipCode.errors?.pattern && formAdresse.controls.zipCode.dirty" >
          Caractere Numerique</li>
      <li *ngIf="formAdresse.controls.zipCode.errors?.minlength && formAdresse.controls.zipCode.dirty || formAdresse.controls.zipCode.errors?.maxlength && formAdresse.controls.zipCode.dirty " >Votre Code Postal doit contenir 5 nombres</li>
  </ul>
      <ion-item class="text-input">
        <ion-label style="font-family: 'Arista';" position="floating">Numéro de téléphone </ion-label>
        <ion-input type="number" name="numero" [value] = "numero" formControlName="numero"></ion-input>
      </ion-item>
      <ion-button class="round" type="submit" expand="block" (click)="saveInfo(adresse, zip, numero)">Enregistrer</ion-button>
    </form>
  </div>
  <div>
    <ion-item class="head"> 
      <ion-icon name="person"></ion-icon>  
      <span class="text">Identifiants</span>
    </ion-item>
    <form>
      <ion-item class="text-input">
        <ion-label style="font-family: 'Arista';" position="floating">Email </ion-label>
        <h4 style="font-size: 18px;">{{info.db2_facebook_id}}</h4>
      </ion-item>
      <ion-item class="text-input">
        <ion-label style="font-family: 'Arista';" position="floating">Mot de Passe </ion-label>
        <h4 style="font-size: 18px;">******</h4>
      </ion-item>
    </form>
    <ion-button  type="submit" expand="block" [routerLink]="['/modif-pw']">Modifier mon mot de passe</ion-button>
  </div>
  <ion-button  type="submit" expand="block" (click)="logout()">Me déconnecter</ion-button>
</ion-content>
