
.text{
    display: inline-block;
    vertical-align: middle;
    font-family: 'abrilfatface';
    margin-left: 2%;
    font-size: 22px;
    font-weight: bold;
  }
.head {
    margin: 3% 0;
  }
form {
    margin-left: 5%;
}
.title-label {
    font-family: 'lato';
    font-size: 16px;
    color: #D01C1F;
    margin-left: 2%;
}
:root {
    --ion-color-secondary: #D01C1F;
    --ion-color-new-rgb: 	208, 28, 31;
    --ion-color-new-contrast: #D01C1F;
    --ion-color-new-contrast-rgb: 255,255,255;
    --ion-color-new-shade: #D01C1F;
    --ion-color-new-tint: #D01C1F;
  }
::ng-deep.button-native {
    background: #D01C1F;
    color: #fff;
}
h4 {
  font-family: 'Lato';
}