<ion-app>
  <ion-menu contentId="content1" side="start" type="overlay">
    <ion-header>
      <ion-toolbar color="danger">
        <ion-grid>
          <ion-row>
            <ion-col size="10">
        <ion-title [routerLink]="['/home']">Menu</ion-title>
            </ion-col>
            <ion-col size="2">
              <ion-icon class="close" name="close" (click)="close()"></ion-icon>
            </ion-col>
          </ion-row>
        </ion-grid>
      </ion-toolbar>
    </ion-header>
    <ion-content>
      <ion-list>
        <ion-item [routerLink]="['/home/offre']">
          <ion-icon name="clipboard" slot="start"></ion-icon>
          <ion-label class="title-menu">Offre</ion-label>
        </ion-item>
        <ion-item [routerLink]="['/historique']">
          <ion-icon name="calendar"  slot="start"></ion-icon>
          <ion-label class="title-menu">Historique</ion-label>
        </ion-item>
        <ion-item [routerLink]="['/mon-profil']">
          <ion-icon name="person" slot="start"></ion-icon>
          <ion-label class="title-menu">Compte</ion-label>
        </ion-item>
        <ion-item [routerLink]="['/statistique']">
          <ion-icon name="stats" slot="start"></ion-icon>
          <ion-label class="title-menu">Statistique</ion-label>
        </ion-item>
        <ion-item [routerLink]="['/apropos']">
          <ion-icon name="alert" slot="start"></ion-icon>
          <ion-label class="title-menu">A Propos</ion-label>
        </ion-item>
        <ion-item [routerLink]="['/faq']">
          <ion-icon name="mail" slot="start"></ion-icon>
          <ion-label class="title-menu">FAQ</ion-label>
        </ion-item>
        <ion-item>
          <ion-icon name="settings"  [routerLink]="['/reglage']" slot="start"></ion-icon>
          <ion-label class="title-menu">Reglage</ion-label>
        </ion-item>
      </ion-list>
    </ion-content>
  </ion-menu>
  <ion-router-outlet id="content1" main></ion-router-outlet>
</ion-app>