<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/"></ion-back-button>
    </ion-buttons>
    <ion-title>Theme</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-item>
   
    <ion-label>
      <h2 style="font-family: Arista;text-align: center;" style="font-weight: bold;">{{campaign.db3_campaign_name}}</h2>
      <h2>{{campaign.db3_campaign_name}}</h2>
      <h4>{{campaign.db3_campaign_short_desc}}</h4>
      <h2>{{campaign.db7_store_name}}</h2>
      <h4>{{campaign.db7_full_address}}</h4>
      <h4>{{campaign.db7_city}}</h4>
    </ion-label>
  </ion-item>
  <section class="full-width">
    <ion-button expand="full" [routerLink]="['/questionnaire', campaign.db3_campaign_id , campaign.db7_retailer_id ]" routerLinkActive="router-link-active"  color="danger">Voir les questions</ion-button>
  </section>
</ion-content>
