<ion-header>
  <ion-toolbar color="danger">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/mon-profil"></ion-back-button>
    </ion-buttons>
    <ion-title>Modifier mon mot de passe</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
<h1 style="font-family: Arista;text-align: center;">Vous souhaitez modifier votre mot de passe?</h1>
<img [src]="img">
<form [formGroup]="formResetPass">
  <ion-item class="text-input" [ngClass]="{'has-error': formResetPass.controls.mdp.errors &&
  formResetPass.controls.mdp.dirty,
  'has-success': formResetPass.controls.mdp.valid && formResetPass.controls.mdp.dirty }">
    <ion-label style="font-family: 'Arista';" position="floating">Saisissez ancien votre mot de passe</ion-label>
    <ion-input type="password" name="mdp" [value]="mdp" formControlName="mdp" autocomplete=off  required autofocus></ion-input>
  </ion-item>
  <ul class="help-block">
    <li *ngIf="formResetPass.controls.mdp.errors?.required && formResetPass.controls.mdp.dirty" >
        Champs Obligatoire</li>
</ul>
  <ion-item class="text-input" [ngClass]="{'has-error': (formResetPass.controls.mdp1.errors &&
  formResetPass.controls.mdp1.dirty),
  'has-success': !formResetPass.controls.mdp1.errors}">
    <ion-label style="font-family: 'Arista';" position="floating">Saisissez votre nouveau mot de passe</ion-label>
    <ion-input type="password" name="mdp1" [value]="mdp1"  formControlName="mdp1" autocomplete=off  required autofocus></ion-input>
  </ion-item>
  <ul class="help-block">
    <li *ngIf="formResetPass.controls.mdp1.errors?.required && formResetPass.controls.mdp1.dirty" >
        Champs Obligatoire</li>
</ul>
  <ion-item class="text-input" [ngClass]="{'has-error': (formResetPass.controls.mdp2.errors &&
  formResetPass.controls.mdp2.dirty),
  'has-success': !formResetPass.controls.mdp2.errors}">
    <ion-label style="font-family: 'Arista';" position="floating">Confirmez votre nouveau mot de passe</ion-label>
    <ion-input type="password" name="mdp2" [value]="mdp2" formControlName="mdp2" autocomplete=off  required autofocus></ion-input>
  </ion-item>
  <ul class="help-block">
    <li *ngIf="formResetPass.controls.mdp2.errors?.required && formResetPass.controls.mdp2.dirty" >
        Champs Obligatoire</li>
</ul>
  <ion-button  type="submit" expand="block"  [disabled]="formResetPass.invalid" (click)="modifierMDP()">Modifier</ion-button>
</form>
<a [routerLink]="['/resetpw']" routerLinkActive="router-link-active"><span>Mot de passe oublié ?</span></a>
</ion-content>
