<ion-header>
  <ion-toolbar  class="ion-text-center">
    <ion-grid>
      <ion-row>
        <ion-col size="10">
    <ion-title style="font-family: Arista;">Résultat pour {{valueData}}</ion-title>
        </ion-col>
        <ion-col size="2">
          <ion-icon class="close" name="close" (click)="closeModal()"></ion-icon>
        </ion-col>
      </ion-row>
    </ion-grid>
  </ion-toolbar>
</ion-header>

<ion-content *ngIf="dataAvalaible" class="ion-padding">
  <div *ngIf="dataSearch.length === 0">
    <h2 class="ion-text-center" style="font-weight: bold;">Il n'y a pas de résultats</h2>
  </div>
 <div *ngIf="dataSearch.length !== 0">
  <ion-item  *ngFor="let data of dataSearch" >
    <ion-label *ngIf="data.db7_store_name" (click)="goToDetail(data)">
      <h2 style="font-weight: bold;">{{data.db7_store_name}}</h2>
      <h4>{{data.db7_full_address}}</h4>
      <p>{{data.db7_zip}} {{data.db7_city}}</p>
    </ion-label>
    <ion-label *ngIf="data.retailer_name ">
      <h2 style="font-weight: bold;">{{data.retailer_name}}</h2>
      <h4>{{data.address}}</h4>
      <p>{{data.zip}} {{data.city}}</p>
    </ion-label>
  </ion-item>
 </div>
</ion-content>
<ion-content *ngIf="!dataAvalaible">

  <ion-spinner style="margin: 0 auto;display: block;" class="ion-text-center"></ion-spinner>
</ion-content>