<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/historique"></ion-back-button>
    </ion-buttons>
    <ion-title>collectdetail</ion-title>
  </ion-toolbar>
</ion-header>
<ion-content  *ngIf="!dataAvalaible">
  <ion-spinner style="margin: 0 auto; display: block;" name="circles"></ion-spinner>
</ion-content>
<ion-content *ngIf="dataAvalaible" >
  <ion-label class="title">
    <h2>{{date}}</h2>
    <h2 style="font-weight: bold;">{{dataDetail.pdv.name}}</h2>
    <h3>{{dataDetail.pdv.adresse}}</h3>
    <h4>{{dataDetail.pdv.codepostal}} {{dataDetail.pdv.city}}</h4>
  </ion-label>
  <div  *ngFor="let question of questionRep; index as ind ">
    <ion-item>
      <ion-label>{{question.question}}</ion-label>
      </ion-item> 
      <div *ngIf="question.type === '1' || question.type === '13' || question.type === '20'">
        <ion-item *ngFor="let q of question.rep">
          <ion-thumbnail *ngIf="q !== ''" slot="start">
            <img (click)="seeImage(q)" [src]="q">
          </ion-thumbnail>
          </ion-item> 
      </div>
      <div *ngIf="question.type === '5' || question.type === '17'"> 
        <ion-item *ngFor="let q of question.proposal | keyvalue; index as i ">
       <ion-label class="answer">{{q.key }} - {{q.value.label}} </ion-label>
          </ion-item> 
         </div>
         <div *ngIf="question.type === '3'"> 
          <ion-item>
         <ion-label class="answer" *ngIf="question.rep[0] !== '' ">{{question.proposal[question.rep[0]].label}} </ion-label>
         <ion-label class="answer" *ngIf="question.rep[0] === '' ">{{question.reponse}} </ion-label>
            </ion-item> 
           </div>
           <div *ngIf="question.type === '4'"> 
            <ion-item *ngFor="let q of question.proposal| keyvalue; index as i ">
              <ion-label class="answer">{{q.value.label}} </ion-label>
                 </ion-item> 
             </div>
         <div *ngIf="question.type === '11' || question.type === '12' || question.type === '6' || question.type === '14'|| question.type === '2'"> 
          <ion-item *ngFor="let q of question.rep">
         <ion-label class="answer">{{q}} </ion-label>
            </ion-item> 
           </div>
           <div *ngIf="question.type === '21'"> 
            <ion-item *ngFor="let q of respName; index as i">
           <ion-label class="answer">{{q.name}} </ion-label>
              </ion-item> 
             </div>
  </div>

</ion-content>
