/* img {
    width: 100% !important;
    height: 100% !important;
    max-width: 100px !important;
    max-height: 100px !important;
} */
ion-label {
   
    font-family:'Arista'
}
.title {
    text-align: center;
}
.answer {
    border-left: 6px solid black;
    padding-left: 10px;
    margin-left: 2%;
}