/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

@font-face {
    font-family: 'Arista';
    src: url('/assets/fonts/Arista.ttf');
}
@font-face {
    font-family: 'Arista-light';
    src: url('/assets/fonts/Arista light.ttf');
}
@font-face {
    font-family: 'Arista-light2.0';
    src: url('/assets/fonts/Arista2.0 light.ttf');
}
@font-face {
    font-family: 'lato';
    src: url('/assets/fonts/Lato-Light.ttf');
}
@font-face {
    font-family: 'abrilfatface';
    src: url('/assets/fonts/AbrilFatface.ttf');
}
ion-icon {
    font-size: 50px;
    display: inline-block;
    font-size: 35px;
    color: #131313;
    vertical-align: middle;
}
.help-block {
    li {
        list-style: none;
        color: #D01C1F;
       font-family: 'Arista-light';
    }
}
ion-button {
    font-family: 'Arista';
    font-size: 18px;
    text-transform: CAPITALIZE;
}
ion-title {
    font-family: 'Arista-light';
    font-size: 25px;
}
ion-input {
    font-family: 'Lato';
 }