
<ion-header>
  <ion-toolbar>
    <img [src]="img">
    <ion-buttons slot="start">
      <ion-menu-button autoHide="false"></ion-menu-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>
  
  <ion-spinner style="margin: 0 auto;" name="circles" *ngIf="!dataAvalaible"></ion-spinner>
<h1 *ngIf="dataAvalaible" style="font-family: Arista;text-align: center;">Bonjour {{nom}}!</h1>

<ion-content>
    <img [src]="img2">

</ion-content>
  <ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="offre">
      <ion-icon name="clipboard"></ion-icon>
      <ion-label>Offre</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="carte">
      <ion-icon name="map"></ion-icon>
      <ion-label>Carte</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>